<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <div>
        <%- include('common/header') %>
      <h1>Welcome, <%=User.name%></h1>
      <h3>Your Email : <i><%=User.email%></i></h3>
      <h3>Your City : <i><%=User.city%></i></h3>
      <h4>your skils :</h4>
      <ul>
        <% User.skils.forEach(item => { %>
        <li><%= item %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
